<a href="https://colab.research.google.com/github/freenrg/Algorithmic-Trading-with-Python-Machine-Learning-Strategies/blob/main/Import_Financial_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.67-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Collecting lxml>=4.5.1
  Downloading lxml-4.7.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 5.8 MB/s
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.7.1 yfinance-0.1.67

In [2]:
import yfinance as yf

In [3]:
yf.download('GOOG')

[*********************100%***********************]  1 of 1 completed

                   Open         High  ...    Adj Close    Volume
Date                                  ...
2004-08-19    49.813290    51.835709  ...    49.982655  44871361
2004-08-20    50.316402    54.336334  ...    53.952770  22942874
2004-08-23    55.168217    56.528118  ...    54.495735  18342897
2004-08-24    55.412300    55.591629  ...    52.239197  15319808
2004-08-25    52.284027    53.798351  ...    52.802086   9232276
...                 ...          ...  ...          ...       ...
2021-12-13  2968.879883  2971.250000  ...  2934.090088   1205200
2021-12-14  2895.399902  2908.840088  ...  2899.409912   1238900
2021-12-15  2887.320068  2950.344971  ...  2947.370117   1364000
2021-12-16  2961.540039  2971.030029  ...  2896.770020   1370000
2021-12-17  2854.290039  2889.201904  ...  2856.060059   2162800

[4365 rows x 6 columns]

In [5]:
ticker_list = ['GOOG','EURUSD=X','^GSPC']
yf.download(ticker_list)

[*********************100%***********************]  3 of 3 completed

           Adj Close               ...     Volume
            EURUSD=X         GOOG  ...       GOOG         ^GSPC
Date                               ...
1950-01-03       NaN          NaN  ...        NaN  1.260000e+06
1950-01-04       NaN          NaN  ...        NaN  1.890000e+06
1950-01-05       NaN          NaN  ...        NaN  2.550000e+06
1950-01-06       NaN          NaN  ...        NaN  2.010000e+06
1950-01-09       NaN          NaN  ...        NaN  2.520000e+06
...              ...          ...  ...        ...           ...
2021-12-13  1.131183  2934.090088  ...  1205200.0  3.322050e+09
2021-12-14  1.128541  2899.409912  ...  1238900.0  3.292740e+09
2021-12-15  1.126126  2947.370117  ...  1364000.0  3.367580e+09
2021-12-16  1.129076  2896.770020  ...  1370000.0  3.592810e+09
2021-12-17  1.133414  2856.060059  ...  2162800.0  5.609780e+09

[18274 rows x 18 columns]

In [6]:
# Personalize date range
yf.download(ticker_list, start='2000-01-01', end='2010-01-01')

[*********************100%***********************]  3 of 3 completed

           Adj Close                           ...   Volume
            EURUSD=X        GOOG        ^GSPC  ... EURUSD=X       GOOG         ^GSPC
Date                                           ...
2000-01-03       NaN         NaN  1455.219971  ...      NaN        NaN  9.318000e+08
2000-01-04       NaN         NaN  1399.420044  ...      NaN        NaN  1.009000e+09
2000-01-05       NaN         NaN  1402.109985  ...      NaN        NaN  1.085500e+09
2000-01-06       NaN         NaN  1403.449951  ...      NaN        NaN  1.092300e+09
2000-01-07       NaN         NaN  1441.469971  ...      NaN        NaN  1.225200e+09
...              ...         ...          ...  ...      ...        ...           ...
2009-12-28  1.437505  310.272034  1127.780029  ...      0.0  3408528.0  2.716400e+09
2009-12-29  1.434309  308.543518  1126.199951  ...      0.0  2860281.0  2.491020e+09
2009-12-30  1.434206  310.202301  1126.420044  ...      0.0  2942187.0  2.277300e+09
2009-12-31  1.432706  308.832428  1115.099976  ...      0.0  2448744.0  2.076990e+09
2010-01-01  1.438994         NaN          NaN  ...      0.0        NaN           NaN

[2572 rows x 18 columns]

In [8]:
# Monthly interval
yf.download(ticker_list, start='2000-01-01', end='2010-01-01', interval='1mo')

[*********************100%***********************]  3 of 3 completed

           Adj Close              ...       Volume
            EURUSD=X        GOOG  ...         GOOG         ^GSPC
Date                              ...
2000-01-01       NaN         NaN  ...          NaN  2.149440e+10
2000-02-01       NaN         NaN  ...          NaN  2.091200e+10
2000-03-01       NaN         NaN  ...          NaN  2.615620e+10
2000-04-01       NaN         NaN  ...          NaN  2.010646e+10
2000-05-01       NaN         NaN  ...          NaN  1.989830e+10
...              ...         ...  ...          ...           ...
2009-09-01  1.465502  246.999191  ...  102542121.0  1.122955e+11
2009-10-01  1.473297  267.058990  ...  154927540.0  1.134110e+11
2009-11-01  1.503895  290.411469  ...   82119053.0  8.498153e+10
2009-12-01  1.432706  308.832428  ...   85560102.0  8.951533e+10
2010-01-01  1.387694         NaN  ...          NaN           NaN

[121 rows x 18 columns]